<h2>Difference between Lambda vs Normal function?</h2>
<ul>
    <li>Lambda has no return value</li>
    <li>One line</li>
    <li>Not used for code reusability</li>
    <li>No name</li>
</ul>

<h3> Why we use it?</h3>
<h4>-> Lambda will use along with higher order function</h4>

<p><b> Higher Order Function </b>- if it contains other functions as a parameter or returns a function as an output
i.e, the functions that operate with another function are known as Higher order Functions. <p>

In [6]:
# lambda functions
# -> lambda input : expression

x=lambda x: x**2  # square of 2
x(2)

4

In [7]:
y =lambda a,b: a+b # sum
y(2,3)

5

In [10]:
b= lambda x:x[0] == 'a'    #first letter a 
b("apple")

True

In [11]:
b= lambda x: "even" if x%2==0 else "Odd"    # odd or even
b(3)

'Odd'

In [12]:
b(2)

'even'

<h1 style='text-align : center '> Higher Order Function </h1>

In [3]:
def return_sum(func,l):   # Higher Order Function
    result = 0
    for i in l:
        if func(i):
            result = result + i
    return result

x = lambda x: x%2 == 0
y = lambda y: y%2 != 0
z = lambda z: z%3 == 0

l=[11,22,1,4,5,6,9,18,13]
print(return_sum(x,l)) # sum of even numbers 
print(return_sum(y,l)) # sum of odd numbers
print(return_sum(z,l)) # # sum of numbers that satisfied by 3

50
39
33

<h1 style='text-align : center '> Map</h1>

In [4]:
l = [1,2,3,4,5]
map(lambda x: x*2,l)

In [9]:
# map object to type convert 
list(map(lambda x: x*2,l))

[2, 4, 6, 8, 10]

In [10]:
l

[1, 2, 3, 4, 5]

In [8]:
#check even numbers using map
list(map(lambda x : x%2 == 0,l))

[False, True, False, True, False]

In [11]:
students=[
    {
        "name" : "Ratul",
        "father name" : "Abu taher",
        "addres" : "Bogura"
    },
    {
        "name" : "sagor",
        "father name" : "Abdul bakkar",
        "addres" : "jamalpur"
    },
    
]

In [13]:
list(map( lambda student:student["name"],students))

['Ratul', 'sagor']

<h1 style='text-align : center '> Filter</h1>

In [15]:
l

[1, 2, 3, 4, 5]

In [16]:
list(filter(lambda x:x>3,l)) # grather than 3

[4, 5]

In [17]:
fruits=["apple","banana","mango","orange"] # 'e' present in name
list(filter(lambda fruit:"e" in fruit,fruits))

['apple', 'orange']

<h1 style='text-align : center '> Reduce</h1>

In [18]:
import functools

In [19]:
l

[1, 2, 3, 4, 5]

In [20]:
functools.reduce(lambda x,y:x+y,l) # sum of all numbers

15

In [21]:
l1=[11,23,44,10,33,59]
functools.reduce(lambda x,y: x if x>y else y,l1) # max number from all numbers

59

<h1 style='text-align : center '> List comprehension</h1>

In [23]:
l

[1, 2, 3, 4, 5]

In [24]:
l1=[item *2 for item in l]

In [25]:
l1

[2, 4, 6, 8, 10]

In [26]:
l2=[item**2 for item in range(5)]
l2

[0, 1, 4, 9, 16]

In [28]:
l3=[item**2 for item in range(10) if item%2 != 0]
l3

[1, 9, 25, 49, 81]

In [29]:
l4=[fruit for fruit in fruits if fruit[0] == "o"]
l4

['orange']

<h1 style='text-align : center '> Dictionary comprehension</h1>

In [32]:
d={
    "name":"Ratul",
    "Gender" : "Male",
    "age" : 23
}

In [33]:
d.items()

dict_items([('name', 'Ratul'), ('Gender', 'Male'), ('age', 23)])

In [31]:
d1={key:value  for key,value in d.items() if len(key)>3}
d1

{'name': 'Ratul', 'Gender': 'Male'}

In [34]:
l

[1, 2, 3, 4, 5]

In [35]:
d2={item:item**2 for item in l}
d2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [36]:
d3={item:item**2 for item in l if item%2 == 0}
d3

{2: 4, 4: 16}