<h1>Mutable ->Lists,Sets, Dictionary. </h1>
<h1>Immutable ->strings, Tuples, Int, Float, Boolean, Complex. </h1>
<br>
<br>

<h1 style='text-align : center '>  Dictionary  </h1>

<h2>Important rules for dictionary:</h2>
<ol>
    <li>Dictionary have no indexing.</li>
    <li>Dictionary  is a mutable types.</li>
    <li>Keys are immutable, Values can be mutable.</li>
    <li>keys should be unique.</li>
</ol>

<br>
<h1>Create</h1>

In [4]:
d={} empty dictionary
d

{}

In [5]:
d1={
    "Name":"Ratul",
   "Gender":"Male"
   }
d1

{'Name': 'Ratul', 'Gender': 'Male'}

In [6]:
d2={
    [1,2,3]:"me" # lists are mutable
}
d2

TypeError: unhashable type: 'list'

In [7]:
d2={
    (1,2,3):"me" # tuple are immutable
}
d2

{(1, 2, 3): 'me'}

In [9]:
d1={
    "Name":"Ratul",
      "Name":"Rion",
     "Gender":"Male"
   }
d1  #last duplicate value will be printed

{'Name': 'Rion', 'Gender': 'Male'}

In [10]:
#2D dictionary
d3={
    "Name":"Ratul","college":"UITS","marks":{"DS":99,"oop":78}
   }
d3

{'Name': 'Ratul', 'college': 'UITS', 'marks': {'DS': 99, 'oop': 78}}

<br>
<h1>Access items from dict</h1>

In [11]:
d3

{'Name': 'Ratul', 'college': 'UITS', 'marks': {'DS': 99, 'oop': 78}}

In [13]:
d3["Name"]

'Ratul'

In [15]:
d3["college"]

'UITS'

<br>
<h1>Access items from dict</h1>

In [17]:
d3

{'Name': 'Ratul', 'college': 'UITS', 'marks': {'DS': 99, 'oop': 78}}

In [18]:
# we want DS marks?
d3["marks"]["DS"]

99

<br>
<h1>Edit items from dict</h1>

In [20]:
d3

{'Name': 'Ratul', 'college': 'UITS', 'marks': {'DS': 99, 'oop': 78}}

In [21]:
d3["Name"] = "Rion"
d3

{'Name': 'Rion', 'college': 'UITS', 'marks': {'DS': 99, 'oop': 78}}

In [22]:
d3["marks"]["oop"] = 98
d3

{'Name': 'Rion', 'college': 'UITS', 'marks': {'DS': 99, 'oop': 98}}

<br>
<h1>Add new key-value in dict</h1>

In [23]:
d3

{'Name': 'Rion', 'college': 'UITS', 'marks': {'DS': 99, 'oop': 98}}

In [25]:
d3["age"] = 23 # want to add age = 23
d3

{'Name': 'Rion', 'college': 'UITS', 'marks': {'DS': 99, 'oop': 98}, 'age': 23}

In [26]:
# want to add english = 90 in marks
d3["marks"]["English"] = 90
d3

{'Name': 'Rion',
 'college': 'UITS',
 'marks': {'DS': 99, 'oop': 98, 'English': 90},
 'age': 23}

<br>
<h1>Delete</h1>

In [28]:
d1

{'Name': 'Rion', 'Gender': 'Male'}

In [29]:
del d1

In [30]:
d1

NameError: name 'd1' is not defined

In [32]:
d3

{'Name': 'Rion',
 'college': 'UITS',
 'marks': {'DS': 99, 'oop': 98, 'English': 90},
 'age': 23}

In [33]:
del d3["age"]
d3

{'Name': 'Rion',
 'college': 'UITS',
 'marks': {'DS': 99, 'oop': 98, 'English': 90}}

In [35]:
d1={'Name': 'Rion', 'Gender': 'Male'}
d1.clear() # will be empty
d1

{}

<br>
<h1>Operation</h1>

In [ ]:
d1={'Name': 'Rion', 'Gender': 'Male'}

In [36]:
d2

{(1, 2, 3): 'me'}

In [37]:
d1+d2 # not allowed

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [38]:
d1*3 # not allowed

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [40]:
for i in d3:
    print(i) # only get keys

Name
college
marks

In [41]:
# if you need values
for i in d3:
    print(i,d3[i]) # get keys and values both

Name Rion
college UITS
marks {'DS': 99, 'oop': 98, 'English': 90}

In [42]:
"Rion" in d3 # checks only keys

False

In [43]:
"Name" in d3

True

<br>
<h1>Function</h1>

In [44]:
len(d3) # get keys number

3

In [45]:
max(d3) #lexicographically

'marks'

In [48]:
sorted(d3)

['Name', 'college', 'marks']

In [49]:
d3

{'Name': 'Rion',
 'college': 'UITS',
 'marks': {'DS': 99, 'oop': 98, 'English': 90}}

In [51]:
d3.keys() # list of keys

dict_keys(['Name', 'college', 'marks'])

In [52]:
d3.values()  # list of values

dict_values(['Rion', 'UITS', {'DS': 99, 'oop': 98, 'English': 90}])