
<h2>Create tuples</h2>

In [2]:
t1=() # empty tuples
t1

()

In [4]:
t2=(1,2,3,4,5) # homogenous tuples
t2

(1, 2, 3, 4, 5)

In [5]:
t3=(1,2,"Ratul",True) # hetrogenous tuples
t3

(1, 2, 'Ratul', True)

In [6]:
t4=(1,2,3,(4,5)) # 2D tuples
t4

(1, 2, 3, (4, 5))

In [8]:
t5=(1) # this is not tuple
t5

1

In [9]:
type(t5)

int

In [10]:
t6="Hello"
type(t6)

str

<h2>Then How we will create single item tuple? </h2>

In [11]:
t7=(1,)
type(t7)

tuple

In [12]:
t8=("Hello",)
type(t8)

tuple

In [14]:
t6=tuple("Dhaka") # string to tuple
t6

('D', 'h', 'a', 'k', 'a')

In [15]:
t7=tuple([1,2,3,4,5]) # list to tuple
t7

(1, 2, 3, 4, 5)

In [16]:
type(t7)

tuple

<br>
<h2>Access item from a Tuple</h2>

In [17]:
t2=(1,2,3,4,5)
t2[0]

1

In [18]:
t2[-1]

5

In [19]:
t2[1:4]

(2, 3, 4)

In [20]:
t4=(1,2,3,(4,5)) # want to access 4 from 2D tuple
t4[-1][0]

4

<br>
<h2>Edit in tuple</h2>

In [21]:
t2=(1,2,3,4,5)
t2[0] = 100
t2

TypeError: 'tuple' object does not support item assignment

<h1 style='text-align : center '>NB: <b>Tuples</b> just like <b>strings</b> are <b>immutable</b></h1>

<br>
<h2> Delete in tuple</h2>

In [23]:
t2=(1,2,3,4,5)
t2

(1, 2, 3, 4, 5)

In [27]:
t2=(1,2,3,4,5)
del t2[-1] # this is possible in list but not in Tuples bcz Tuples are immutable

TypeError: 'tuple' object doesn't support item deletion

In [24]:
del t2 # You can delete full tuples but not any items

In [25]:
t2

NameError: name 't2' is not defined

<br>
<h2> Operation</h2>

In [29]:
t2=(1,2,3,4)
t3=("hello",5,6)
t2+t3

(1, 2, 3, 4, 'hello', 5, 6)

In [30]:
t3*2

('hello', 5, 6, 'hello', 5, 6)

In [31]:
for i in t2:
    print(i)

1
2
3
4

In [32]:
1 in t2

True

In [33]:
1 not in t2

False

In [34]:
5 not in t2

True

<br>
<h2> Functions</h2>

In [35]:
len(t2)

4

In [36]:
max(t2)

4

In [37]:
min(t2)

1

In [38]:
sorted(t2) # changed into list

[1, 2, 3, 4]

In [39]:
sorted(t2,reverse=True)

[4, 3, 2, 1]

<h1 style='text-align : center '>NB: <b>Tuples</b> are <b>read-only</b> data type</h1>